* {
    box-sizing: border-box;
}

nav {
    position: sticky;
    height: 80px;
}

#intro {
    display: flex;
}

#intro > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
}

.flexobj {
    flex: auto;
}

.contentbody {
    display: flex;
    flex-direction: column;
}

.contentbody > div {
    flex: 1 0 20vh;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: cornflowerblue;
}

.contentbody > div:nth-of-type(2n) {
    background-color: whitesmoke;
}

