* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    top: 0px;
    position: sticky;
    height: 80px;
}
/*
div {
    border-width: 2px;
    border-style: solid;
    border-color: darksalmon;
}
*/
nav > div {
    height: 100%;
    background-color: aquamarine;
}

#intro {
    display: flex;
}

#intro > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
}

#info {
    gap: 50px;
    padding: 10%;
    display: flex;
    flex-direction: column;
}

#info > div {
    display: flex;
    justify-content: center;
    flex: auto;
}

#info h1 {
    margin: auto;
    padding: auto;
    
}

.contentbody {
    display: flex;
    flex-direction: column;
}

.contentbody > div {
    flex: 1 0 20vh;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: cornflowerblue;
}

.contentbody > div:nth-of-type(2n) {
    background-color: whitesmoke;
}

.cardarray {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cardarray > div {
    display: flex;
    flex-direction: column;
    flex: auto;
    text-align: center;
    justify-content: center;
    width: 20%;
}

.cardimg {
    padding-bottom: 100%;
    display: flex;
    border-radius: 5px;
    border-style: solid;
    border-color: blue;
}